<div class="border rounded-4 container shadow-lg bg-white" [class.desktopList]="!mobileQuery.matches" [class.mobileList]="mobileQuery.matches">
    <div class="row mx-auto pt-4">    
        
        <div class="text-end col-4">
            <img src="assets/images/logo.png" width="65" alt="">
        </div>     
        <div class="text-start col-8 mt-2">
            <span class="text-dark display-6">Pokemon app</span>
        </div>     
        <div>
            <mat-form-field class="w-100 mt-2">
                <input matInput (keyup)="applyFilter($event)" placeholder="Search">
            </mat-form-field>
        </div>      
    </div>

    <div class="table-responsive px-2" style="height: 360px;" *ngIf="list && list.length > 0">
        <table mat-table [dataSource]="dataSource" class="text-center" matSort>
            
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="encabezado text-center">Name</th>
                <td mat-cell *matCellDef="let row" class="pl-0" (click)="detail(row)">
                    <span style="font-size: 20px;" class="text-capitalize text-dark"><i class="fa-regular fa-address-card"></i>&nbsp; {{ row.name }}</span>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator class="mb-3" [pageSizeOptions]="[25, 100, 250]" *ngIf="dataSource"></mat-paginator>
</div>